name = "meiro-server"
main = "src/index.ts"
compatibility_date = "2024-12-01"
workers_dev = true

[durable_objects]
bindings = [
  { name = "ROOM", class_name = "RoomDurableObject" }
]

[[migrations]]
tag = "001-init-room-object"
new_sqlite_classes = ["RoomDurableObject"]

[env.local]
name = "meiro-server-local"
workers_dev = true

[env.local.vars]
ENVIRONMENT = "local"
WS_ORIGIN = "ws://127.0.0.1:8787"

[env.dev]
name = "meiro-server-dev"
route = "dev.meiro.example.com/*"
workers_dev = false

[env.dev.vars]
ENVIRONMENT = "dev"
WS_ORIGIN = "wss://dev.meiro.example.com"

[env.preview]
name = "meiro-server-preview"
workers_dev = true

[env.preview.vars]
ENVIRONMENT = "preview"
WS_ORIGIN = "wss://preview.meiro.example.com"

[env.prod]
name = "meiro-server-prod"
routes = ["game.meiro.example.com/*"]
workers_dev = false

[env.prod.vars]
ENVIRONMENT = "prod"
WS_ORIGIN = "wss://game.meiro.example.com"
